@use '../global' as g;

.p-fv {
  position: relative;
}

.p-fv__image {
  width: 100%;
  aspect-ratio: 1920 / 860;
  margin-inline: auto;
}

.p-fv__image picture {
  display: block;
}

.p-fv__image img {
  width: 100%;
  height: auto;
  display: block;
}

.p-fv__line {
  background-color: #fff;
  bottom: -80px;
  height: 150px;
  left: 50%;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  width: 1px;
  z-index: 2;

  @media (min-width: 900px) {
    bottom: -100px;
    height: 300px;
  }
}
