@use '../global' as g;

.p-fv {
  position: relative;
}

.p-fv__image {
  width: 100%;
  aspect-ratio: 1920 / 860;
  margin-inline: auto;
  overflow: hidden;
}

.p-fv__image picture {
  display: block;
  height: 120%;
  width: 100%;
  will-change: transform;
}

.p-fv__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.p-fv__line {
  background-color: rgba(255, 255, 255, 0.3);
  bottom: -80px;
  height: 150px;
  left: 50%;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  width: 1px;
  z-index: 2;

  &::after {
    animation: p-fv-scroll-line 2.5s cubic-bezier(0.65, 0, 0.35, 1) infinite;
    background-color: #fff;
    content: '';
    height: 33%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    will-change: top, opacity;
  }

  @media (min-width: 900px) {
    bottom: -100px;
    height: 300px;
  }

  @media (prefers-reduced-motion: reduce) {
    &::after {
      animation: none;
      opacity: 1;
      top: 33.5%;
    }
  }
}

@keyframes p-fv-scroll-line {
  0% {
    opacity: 0;
    top: 0;
  }

  15% {
    opacity: 1;
  }

  70% {
    opacity: 1;
    top: 67%;
  }

  100% {
    opacity: 0;
    top: 67%;
  }
}
