@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

/* スタイルを当てやすいように追加 */

picture,
img,
a,
span {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

video,
img,
svg {
  height: 100%;
  width: 100%;
}

button {
  background: transparent;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

input,
textarea,
select {
  font: inherit;
}

body {
  color: #202524;
  font-family: "Noto Serif JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.l-inner {
  margin-inline: auto;
  padding-inline: 20px;
  width: min(1720px, 100%);
}

.l-header {
  position: relative;
  z-index: 100;
}

.l-header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 1920px;
  padding-block: clamp(32px, 3.125vw, 60px);
  padding-inline: clamp(120px, 18.75vw, 360px) clamp(40px, 6.25vw, 120px);
}

.l-header__logo {
  left: 50%;
  position: absolute;
  top: 68px;
  transform: translateX(-50%);
  z-index: 1;
}

.p-header {
  background-color: #3A4340;
  color: #E7E4DE;
}

.p-header__nav-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: flex-start;
}

.p-header__nav-list a {
  color: #E5E7EB;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.68px;
  line-height: 100%;
  transition: opacity 0.3s;
}

.p-header__logo {
  width: 172px;
}

.p-header__logo img {
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}

.p-header__right {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: flex-end;
}

.p-header__cta {
  align-items: center;
  background-color: #F0EDE5;
  color: #3A4340;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 500;
  gap: 10px;
  letter-spacing: 0.72px;
  line-height: 108%;
  padding: 16px 50px;
  transition: opacity 0.3s;
}

.p-header__cta-icon {
  flex-shrink: 0;
  height: 17px;
  width: 17px;
}

.p-fv {
  position: relative;
}

.p-fv__image {
  aspect-ratio: 1920/860;
  margin-inline: auto;
  width: 100%;
}

.p-fv__image picture {
  display: block;
}

.p-fv__image img {
  display: block;
  height: auto;
  width: 100%;
}

@media (max-width: 1500px) {
  .p-header__logo {
    width: clamp(120px, 11.46vw, 172px);
  }
}

@media (any-hover: hover) {
  .p-header__nav-list a:hover {
    opacity: 0.7;
  }

  .p-header__cta:hover {
    opacity: 0.85;
  }
}