@use '../global' as g;
@use 'l-inner' as inner;

$concept-bp: 1000px;

.l-concept {
  background-color: g.$bg-main;
  color: #f1f6f4;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.l-concept__inner {
  @include inner.base;
  @include inner.stacked;
  padding-block: 110px 104px;
  padding-inline: 0;

  @media (min-width: $concept-bp) {
    padding-block: 220px 180px;
    padding-inline: 70px;
  }

  @media (min-width: 1500px) {
    padding-inline: 120px;
  }
}
