@use '../global' as g;
@use 'l-inner' as inner;

.l-dining {
  background-color: g.$bg-white;
  color: g.$text-black;
  padding-block: 70px;

  @media (min-width: 900px) {
    padding-block: 100px 150px;
  }
}

.l-dining__inner {
  @include inner.column(56px, 80px, 1200px);

  @media (min-width: 1200px) {
    gap: 80px;
    padding-block: 100px 150px;
    padding-inline: 120px;
  }

  @media (min-width: 900px) {
    padding-inline: 60px;
  }
}
