@use '../global' as g;
@use 'l-inner' as inner;

.l-faq {
  background-color: g.$bg-color3;
  color: g.$text-black;
  padding-block: 60px 90px;
  padding-inline: 25px;

  @media (min-width: 900px) {
    padding-block: 100px 150px;
    padding-inline: clamp(60px, 18.75vw, 360px);
  }
}

.l-faq__inner {
  @include inner.column(40px);
}
