@use '../global' as g;
@use 'l-inner' as inner;

.l-footer {
  background-color: g.$bg-main;
  color: #fff;
  padding-block: 150px 100px;

  @media (max-width: 1100px) {
    padding-block: 90px;
  }
}

.l-footer__inner {
  @include inner.base;
  padding-inline: clamp(40px, calc(360px - (1920px - 100vw) * 0.25), 360px);
}
