@use '../global' as g;

.l-header {
  position: relative;
  z-index: 100;
}

.l-header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 1920px;
  padding-block: clamp(32px, 3.125vw, 60px);
  padding-inline:
    clamp(120px, 18.75vw, 360px)
    clamp(40px, 6.25vw, 120px);
}

.l-header__logo {
  left: 50%;
  position: absolute;
  top: 68px;
  transform: translateX(-50%);
  z-index: 1;
}
