@use "../global" as g;

@mixin base {
  margin-inline: auto;
  max-width: 1920px;
  width: 100%;
}

@mixin column($gap: 56px, $gap-md: 80px, $gap-bp: 900px) {
  @include base;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $gap;

  @media (min-width: $gap-bp) {
    gap: $gap-md;
  }
}

@mixin stacked {
  position: relative;
  z-index: 1;
}

.l-inner {
  @include base;
}
