@use '../global' as g;
@use 'l-inner' as inner;

.l-local-guide {
  background: linear-gradient(to bottom, g.$bg-white, g.$bg-color3);
  overflow: hidden;
  padding-block: 80px;
  padding-inline: 25px;
  position: relative;

  @media (min-width: 900px) {
    padding-block: 40px 150px;
    padding-inline: 0;
  }

  &::before {
    background-image: url('../img/local-guide-bg.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    inset: 0;
    mix-blend-mode: multiply;
    opacity: 0.8;
    pointer-events: none;
    position: absolute;
  }
}

.l-local-guide__inner {
  @include inner.base;
  @include inner.stacked;

  @media (min-width: 900px) {
    padding-inline: 60px 0;
  }

  @media (min-width: 1200px) {
    padding-inline: 120px 0;
  }
}
